@require '_lib'

header
	position absolute
	left 0
	right 0
	top 0
	height header-h
	display flex
	flex-flow column

	padding 0 10px
	background linear-gradient(#EEECEE, #D6D4D6)
	border-top 1px solid #ccc
	border-bottom 1px solid #979597
	-webkit-app-region drag


.toolbar
	height 26px
	display flex
	flex 1
	padding 5px 0 7px


.toolbar-filler
	flex 1
