@require '_lib'

header
	position absolute
	left 0
	right 0
	top 0
	height header-h

	display flex
	padding 0 10px 0 85px
	background #eee
	align-items center
	min-height 38px
	border-top 1px solid #ccc
	border-bottom 1px solid #ccc
	-webkit-app-region drag


.header-filler
	flex 3



.search-input
	flex 1
	font inherit
	border none
	border-radius 3px
	padding 3px 10px
	box-shadow 0 0 0 1px #ccc

	&::placeholder
		color #ccc
		text-align center

	&:focus
		&::placeholder
			color #fff