@require '_lib'

.current-path
	position absolute
	left 0
	right 0
	top 0
	height 22px
	background-color #ddd
	padding 3px 10px


.file-list
	position absolute
	left 0
	right 0
	top 22px
	bottom 0

.file-name
	flex 1

.file-icon
	font-size 22px
	width 22px
	margin-right 10px
	color #ccc
	font-style normal
	text-align center


.drops-list-item.selected
	background-color #2E69E2
	color #fff

