@require '_lib'

.file-list
	flex 1

.file-name
	flex 1

.file-icon
	font-size 22px
	width 22px
	margin-right 10px
	color #ccc
	font-style normal
	text-align center


.overedit-input
	font inherit
	box-sizing border-box
	padding 2px 10px