@require '_lib'

.drops
	display flex
	flex-flow column

.drops-list
	overflow-y auto
	padding 10px 0
	flex 1

.drops-list-item
	padding 5px 10px
	display flex
	align-items center

.drops-list-item.selected
	background-color #eee


.drops-list-item.highlighted
	background-color #2E69E2
	color #fff

