@require '_lib'

.command-palette
	flex 1
	flex-wrap wrap
	min-width 200px
	max-width 80%
	position fixed
	left 20%
	right 20%
	top 15%
	border-radius 4px
	display flex
	box-shadow 0 0px 15px 5px rgba(#000, 0.3)
	background #fff

	// background rgba(#fff, 0.3)	// maybe some day when it works :-)
	// backdrop-filter blur(10px)

	&.hidden
		display none

.command-palette *
	box-sizing border-box

.command-palette-input
	font inherit
	font-size 16px
	width 100%
	border none
	padding 15px 11px
	margin 0
	outline none
	background none
	border-radius 4px 4px 0 0


.command-palette-list
	position relative
	width 100%
	overflow-y auto
	z-index 99
	padding 10px 0
	border-top 1px solid #ccc

.command-palette-list:empty
	padding 0


.command-palette-list-item
	padding 5px 20px
	color #333
	cursor pointer


.command-palette-list-item:hover
.command-palette-list-item.selected
	background-color #2e69e2
	color #fff



.item-name
	font-size 14px

.item-sub
	color #ccc

