html
body
	width 100%
	height 100%
	margin 0
	padding 0
	overflow hidden
	font caption
	-webkit-font-smoothing subpixel-antialiased
	user-select none
	cursor default

body
	background #fff
	color #333
	font-size 14px

body *
	box-sizing border-box

