@require '_lib'

footer
	position absolute
	left 0
	right 0
	bottom 0
	height footer-h

	display flex
	background #eee
	align-items center
	justify-content space-between
	border-top 1px solid #ccc
	border-bottom 1px solid #ccc
	box-shadow 0 1px 0 #f5f5f5 inset
	font-size 13px

	i
		margin-right 8px

	.footer-stats
		display flex
		flex 1

	.footer-stats-item
		margin 0 15px
		white-space nowrap


	.git-dirty
		color maroon

	.git-clean
		color darkgreen


.footer-filler
	flex 1