@require '_lib'

footer
	position absolute
	left 0
	right 0
	bottom 0
	z-index 100
	height footer-h
	font-size 13px

	display flex
	background #eee
	align-items center
	padding 0 15px
	justify-content space-between

	box-shadow 0 0.5px 0 #bbb inset,
		0 1px 0 #f5f5f5 inset,
		0 -0.5px 0 #ccc inset


.footer-item
	margin 0
	white-space nowrap
	overflow hidden
	text-overflow ellipsis

	&.dirty
		color maroon

	&.clean
		color darkgreen

	i
		margin-right 8px

	&:empty
		display none


.footer-filler
	flex 1


// .git-status


.current-path
	color #666


.highlighted-item
	font-weight 500
	margin-left 2px
